* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.mousse-card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 14px;
}

.product-price-lable {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  flex-basis: 145px;  
  flex-direction: row;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
  flex-basis: 145px;
  display: flex;
  flex-direction: row-reverse;   
}

.product-price-container {
  width: 290px;
  height: 24px;
  display: flex;
}