* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 14px;
}

.price-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  flex-basis: 145px;  
  flex-direction: row;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
  flex-basis: 145px;
  display: flex;
  flex-direction: row-reverse;   
}

.product-price-container {
  width: 290px;
  height: 24px;
  display: flex;
}

.all-cards-container {
  width: 1110px;
  height: 1191px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  gap: 45px;
  flex-wrap: wrap;
  margin-bottom: 116px;
  margin-left: 85px;
  margin-right: 85px;
}

.price-list {
  width: 1280px;
  height: 1715px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  background-image: url("./images/bg-dandelions.png");
  background-repeat: no-repeat;
  background-position: 85px top;
}

.title-list {
  width: 846px;
  height: 78px;
  font-size: 70px;
  line-height: 78px;
  margin-top: 220px;
  margin-left: 217px;
  margin-right: 217px;
  margin-bottom: 110px;
}

#click-color-button {
  background-color: #6B8E23;
  color: white;
}


#click-color-button.color-button-khaki {
  background-color: #F0E68C; 
  color: #333;
}